* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: #333;
}
header {
    color: deeppink;
    width: 100%;
    background-color: rgb(255, 223, 158);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
header span {
    color: rgb(1, 15, 173);
    font-size: small;
    font-weight: bold;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 20px auto;
}
#container h1 {
    font-size: 30px;
}
.lorem {
    color: forestgreen;
    font-size: 20px;
}
h2 {
    color: aqua;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 15px;
    font-size: 18px;
    color: rgb(85, 0, 0);
    background-color: rgb(255, 223, 158);
}
footer ul{
    display: flex;
    list-style: none;
}
footer ul li, footer div {
    margin: 0 10px;
}