body {
    text-align: center;
    font-family: sans-serif;
    color: #333;
}
header {
    color: deeppink;
    width: 100%;
    background-color: rgb(255, 223, 158);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
header span {
    color: rgb(0, 4, 50);
    font-size: small;
    font-weight: bold;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1 {
    font-size: 30px;
}
.lorem {
    color: forestgreen;
    font-size: 20px;
}